<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/client/css/app.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 style="font-size: 80px">...in the development process...</h3>
            <ul class="list-group" id="con"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/project" style="font-size: 25px" class="btn btn-primary">About project</a>
            <a href="/docs" style="font-size: 25px" class="btn btn-primary">Swagger docs</a>
        </div>
    </div>
</div>
<script src="js/signin.js"></script>
<script src="js/app.js"></script>
</body>
</html>