<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
    <link rel="stylesheet" href="/src/services/css/reset_password.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>{{subject}}</h2>
        </div>
        <p>Hi {{username}},</p>
        <p>You have requested a password reset.</p>
        <p>Please click the following link to go to the password change page:</p>
        <p>
            <a  href="{{host}}api/auth/reset-password/confirm/{{token}}">
                Reset your password
            </a>
        </p>
        <p>If you did not have requested a password reset, please ignore this email, or login and set up a stronger password.</p>
        <p>Thanks,</p>
        <p>The Our Team</p>
        <div class="footer">
            <p>© 2024 Our Team. All rights reserved.</p>
        </div>
    </div>
     <script src="/src/services/js/reset_password.js"></script>
</body>

</html>
